.new-post {
    width: 80%;
    margin: 20px auto;
    border: 2px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
}

.new-post label {
    display: block;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
}

.new-post input,
.new-post textarea,
.new-post select {
    display: block;
    width: 80%;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
    outline: none;
    font: inherit;
    margin: auto;
}

.new-post button {
    margin: 5px 0;
    padding: 10px;
    font: inherit;
    border: 1px solid #fa923f;
    border-radius: 15px;
    background-color: transparent;
    color: #fa923f;
    cursor: pointer;
}

.new-post button:hover,
.new-post button:active {
    color: white;
    background-color: #fa923f;
}