.post {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    overflow: hidden;
    padding: 16px;
    text-align: center;
    border: 2px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin-bottom: 20px;
    box-sizing: border-box;
    cursor: pointer;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}

.post:hover,
.post:active {
    background-color: #C0DDF5;
    transform: scale(1.05);
}
